.menu {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5;

  width: 270px;
  height: 100vh;
  overflow-y: auto;

  background-color: $bg-color-light-xl;

  transform: translateX(-100%);
  opacity: 0;

  transition: all 400ms ease-in;

  pointer-events: none;

  &.menu--active {
    transform: translateX(0%);
    opacity: 1;

    transition: all 400ms ease-in;

    pointer-events: auto;
  }
}

.menu__header {
  padding: 17px 16px 17px;

  border-bottom: $border;
}
