.modal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5;

  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  padding: 35px 16px;

  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;

  transition: opacity 300ms;

  pointer-events: none;

  &.modal--active {
    opacity: 1;

    pointer-events: auto;
  }
}

.modal__content {
  width: 100%;
  max-width: 452px;
  padding: 24px;

  text-align: left;

  background-color: #fff;

  p {
    margin: 0;
    padding: 0;
  }
}

p.modal__title {
  margin-bottom: 6px;

  font-size: 2.2rem;
  line-height: 1.409em;
}

p.modal__descr {
  margin-bottom: 33px;
}

.modal__footer {
  text-align: right;
}
