.our-users {
  margin-bottom: 175px;
}

.our-users__head {
  margin-bottom: 30px;

  text-align: center;
}

.our-users__title {
  margin-bottom: 11px;
}

.our-users__cards {
  position: relative;

  display: grid;
  grid-template-rows: repeat(3, 313px);
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  margin-bottom: 52px;

  &.our-users__cards--big {
    min-height: 999px;
  }
}

.our-users__btn {
  text-align: center;

  button {
    padding: 12px 33px;
  }
}

.our-users__errors-box {
  position: absolute;
  top: 20px;
  right: 50%;
  left: 50%;

  width: 100%;

  color: $error;
  text-align: center;

  transform: translateX(-50%);

  > div {
    max-width: 360px;
    margin: 0 auto;
    padding: 10px;

    background-color: rgba(0, 0, 0, 0.8);
  }

  ul {
    text-align: left;
  }
}

@media screen and (max-width: 1024px) {
  .our-users__cards {
    grid-auto-rows: 313px;
    grid-template-rows: repeat(2, 313px);
    margin-bottom: 49px;
  }
}

@media screen and (max-width: 768px) {
  .our-users__cards {
    grid-template-columns: repeat(2, 1fr);
    gap: 18px;
    margin-bottom: 47px;
  }
}

@media screen and (max-width: 560px) {
  .our-users {
    margin-bottom: 145px;
  }

  .our-users__cards {
    grid-template-rows: repeat(3, 314px);
    grid-template-columns: 1fr;
    gap: 23px;
    margin-bottom: 51px;
  }
}
