.file-upload {
  position: relative;

  display: block;
  width: 100%;
  padding-bottom: 25px;

  input {
    display: none;
  }

  .file-upload__btn {
    position: relative;

    display: flex;
    align-items: center;

    width: 100%;
    height: 54px;
    padding: 0 20px 0 100px;
    overflow: hidden;

    color: #7e7e7e;
    font-size: $font-size-default;
    font-family: $accent-font;
    line-height: 1.6em;

    background-color: $bg-color-light-x;
    border: 1px solid #d0cfcf;
    border-radius: 4px;

    cursor: pointer;

    &::before {
      position: absolute;
      top: 0;
      left: 0;

      display: flex;
      align-items: center;
      justify-content: center;
      height: 100%;
      padding: 0 15px;

      color: $color-dark-xl;

      border: 1px solid rgba(0, 0, 0, 0.87);
      border-top-left-radius: 4px;
      border-bottom-left-radius: 4px;

      content: 'Upload';
    }
  }

  .file-upload__helper-text {
    position: absolute;
    z-index: 3;

    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 4px 0 0;
    padding: 0 16px;

    color: $color-dark-xl;
    font-size: 1.2rem;
    font-family: $accent-font;
    line-height: 1.4em;

    opacity: 0;

    transition: all 250ms;

    pointer-events: none;
  }

  &:hover .file-upload__btn,
  &:focus .file-upload__btn {
    border-color: $color-dark-xl;

    &::before {
      border-color: transparent;
      border-right-color: rgba(0, 0, 0, 0.87);
    }
  }

  &:hover .file-upload__helper-text,
  &:focus .file-upload__helper-text {
    opacity: 1;
  }

  input:disabled + .file-upload__btn {
    color: #d0cfcf;

    border-color: #d0cfcf;

    &::before {
      color: #d0cfcf;

      border-color: transparent;
      border-right-color: #d0cfcf;
    }
  }

  input.error + span {
    border: 2px solid $error;

    &::before {
      border: none;
      border-right: 2px solid $error;
    }
  }
}
