/* stylelint-disable */

@font-face {
  font-weight: 400;
  font-family: 'Nunito';
  font-style: normal;
  font-display: swap;

  src: local('Nunito Regular'), local('Nunito-Regular'),
    url('../assets/fonts/Nunito-Regular.woff2') format('woff2'),
    url('../assets/fonts/Nunito-Regular.woff') format('woff');
}

@font-face {
  font-family: 'Asap';
  src: local('Asap Regular'), local('Asap-Regular'),
    url('../assets/fonts/Asap-Regular.woff2') format('woff2'),
    url('../assets/fonts/Asap-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
