/******  COLORS & FONTS ********/

$primary: #f4e041;
$secondary: #00bdd3;
$bg-color-light-xl: #fff;
$bg-color-light-x: #f8f8f8;
$color-dark-xl: rgba(0, 0, 0, 0.87);
$border: 1px solid #e0e0e0;

$main-font: 'Nunito', sans-serif;
$accent-font: 'Asap', sans-serif;

/* 16px */
$font-size-default: 1.6rem;

/* 24px */
$font-size-large: 2.2rem;

/* 35px */
$font-size-accent: 4rem;
